#!/usr/bin/make -f

# Set all dpkg-architecture variables (i.e., ${DEB_HOST_MULTIARCH}, etc.).
include /usr/share/dpkg/architecture.mk

# Prevent debhelper from generating an extra package with debug symbols.
export DEB_BUILD_OPTIONS=noddebs

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr
		--disable-all-plugins \
		--disable-all-transports \
		--disable-all-handlers \
		--disable-all-loggers \
		--enable-websockets
