#!/usr/bin/make -f

# Set all dpkg-architecture variables (i.e., ${DEB_HOST_MULTIARCH}, etc.).
include /usr/share/dpkg/architecture.mk

# Prevent debhelper from generating an extra package with debug symbols.
export DEB_BUILD_OPTIONS=noddebs

# Embed a custom RPATH so that Janus can locate the shared libraries at runtime.
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-rpath=/usr/lib/janus

export PREFIX=/opt/janus
export MANPREFIX=/usr/share/man

%:
	dh $@

# Skip running dh_usrlocal.
override_dh_usrlocal:

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-all-plugins \
		--disable-all-transports \
		--disable-all-handlers \
		--disable-all-loggers \
		--enable-websockets
